<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">Smart Drawer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <div th:fragment="register">
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                        </li>
                    </div>

                    <div th:fragment="login">
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                        </li>
                    </div>

                    <li class="nav-item " sec:authorize="isAuthenticated()">
                        <a class="nav-link active" aria-current="page" th:href="@{/draw}"> Draw </a>
                    </li>

                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item " sec:authorize="isAuthenticated()">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link active" aria-current="page" ><span th:text="${username}"></span></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>
