<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
   <meta charset="UTF-8">
   <title>Registration and Login System</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
         crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/navbar :: navbar">
</div>
<div class="container">
   <div class="row col-md-10">
      <h2>List of Registered Users </h2>
   </div>
   <table class="table table-bordered table-hover">
      <thead class="table-dark">
      <tr>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each = "user : ${users}">
         <td th:text = "${user.firstName}"></td>
         <td th:text = "${user.lastName}"></td>
         <td th:text = "${user.email}"></td>
      </tr>
      </tbody>
   </table>
</div>
</body>
</html>